.converter-container {
    top: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    @media only screen and (max-width: 460px)
    {
        width: 90vw;
    }
}

.result-text {
    width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 12px !important;
    align-self: center;
    border: 1px solid lightgrey;
    border-radius: 4px;
    overflow-x: auto;
    @media only screen and (max-width: 460px)
    {
        width: 300px;
    }
    @media only screen and (max-width: 362px)
    {
        width: 200px;
    }
}

.title-text {
    margin-bottom: 20px !important;
}

.currencies-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: baseline;
    padding: 20px;
}

.amount-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 257px;
    & > Button {
        margin-top: 20px;
    }
}
